.App {
  text-align: center;
  width: 100%;
}
.navbar{
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  color: gainsboro;
}
.navbar h1{
  font-size: 3rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
.footer{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: transparent;
  color: gainsboro;
  padding: 10px;
  position: relative;
  bottom: 1px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
}
.footer h1{
  border-bottom: 3px solid white;
}
.footer p{
  color: black;
  text-transform: capitalize;
}
.footerBtn{
  padding: 10px;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
}
.footerBtn:hover{
  background-color: black;
  color: white;
}
.heading{
 border-bottom: 3px solid;
  width: 10%;
  margin: auto;
  transition: all ease-out 0.5s;
}
.heading:hover{
  border-bottom: 3px dashed;
  font-size: 20px;
  color: white;
}

.menuDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

}
.input input{
  width: 50%;
  padding: 10px;
  border-radius: 10px;
   margin: auto;
   font-size: 17px;
}

.allProducts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;


}
.main:nth-child(odd){
  background-color: lightgoldenrodyellow;
  
}
.picture {
   height: 20rem;
   width: 20rem;
   padding: 1.2rem;
   transition: all 2s linear;
   border-radius: 2.1rem;
}
.picture:hover{
   transform: translatex(1.2rem);
   transition: all 2s linear;
}
.singleItem{
  display: flex;
}
.textArea{
  margin-left: 20px;
  margin-right:20px ;
}
.upperText{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main{
  margin: 3rem 0;
  border-radius: 10px; 
}